extends layout

block body
    .jumbotron
        .container
            h1 How can i help you??
            p MyExpress MyExpress Welcome to MyExpress
            a.btn.btn-primary(href="#")
                h4 Learn More &raquo;
    .container
        .row
            .col-sm-4
                h1 How can i help you??
                p MyExpress MyExpress Welcome to MyExpress
                a.btn.btn-primary(href="#")
                    h4 Learn More &raquo;
            .col-sm-4
                h1 How can i help you??
                p MyExpress MyExpress Welcome to MyExpress
                a.btn.btn-primary(href="#")
                    h4 Learn More &raquo
            .col-sm-4
                h1 How can i help you??
                p MyExpress MyExpress Welcome to MyExpress
                a.btn.btn-primary(href="#")
                    h4 Learn More &raquo


